ai-secretary-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const transcript = $('Call Rinat or Leave Voicemail').first().json.reply_text || '';\n\nconst userText = transcript.split('\\n')\n  .filter(l => l.toLowerCase().includes('user:'))\n  .map(l => l.replace(/user:/i, '').trim())\n  .join(' ');\n\nif (userText.length < 5) {\n  return [{ json: { slack_channel: 'C0XXXXXXXX1', slack_text: \"⚠ Голос не распознан\" } }];\n}\n\n// Разбиваем по ключевым именам/темам — ищем где начинается каждая тема\n// Паттерны: \"скажи Ангелине ...\", \"запчасти ...\", \"зарплата ...\", \"для Марка ...\"\nconst lower = userText.toLowerCase();\n\n// Находим все \"точки входа\" каждой темы\nconst markers = [];\n\nconst angelinaWords = ['ангелин', 'зарплат'];\nconst ferasWords = ['ферас', 'запчаст'];\n\n// Ищем позиции всех ключевых слов\nfor (const word of angelinaWords) {\n  let pos = lower.indexOf(word);\n  while (pos !== -1) {\n    // Откатываемся назад до начала смысловой группы (до предыдущего маркера или \"скажи\")\n    let start = pos;\n    const before = lower.lastIndexOf('скажи', pos);\n    if (before !== -1 && pos - before < 15) start = before;\n    markers.push({ start, topic: 'angelina' });\n    pos = lower.indexOf(word, pos + 1);\n  }\n}\n\nfor (const word of ferasWords) {\n  let pos = lower.indexOf(word);\n  while (pos !== -1) {\n    let start = pos;\n    const before = lower.lastIndexOf('скажи', pos);\n    if (before !== -1 && pos - before < 15) start = before;\n    markers.push({ start, topic: 'feras' });\n    pos = lower.indexOf(word, pos + 1);\n  }\n}\n\n// Сортируем по позиции в тексте\nmarkers.sort((a, b) => a.start - b.start);\n\n// Убираем дубли (если два маркера одной темы рядом)\nconst unique = [];\nfor (const m of markers) {\n  if (!unique.length || unique[unique.length-1].start !== m.start) {\n    unique.push(m);\n  }\n}\n\n// Нарезаем текст по маркерам\nconst segments = {};\nfor (let i = 0; i < unique.length; i++) {\n  const { start, topic } = unique[i];\n  const end = unique[i+1] ? unique[i+1].start : userText.length;\n  const chunk = userText.slice(start, end).trim();\n  if (!segments[topic]) segments[topic] = [];\n  segments[topic].push(chunk);\n}\n\nconst results = [];\n\nif (segments.angelina) {\n  results.push({\n    json: {\n      slack_channel: 'C0XXXXXXXX1',\n      slack_text: `💰 *Для Ангелины (зарплата)*:\\n${segments.angelina.join(' ')}`\n    }\n  });\n}\n\nif (segments.feras) {\n  results.push({\n    json: {\n      slack_channel: 'C0XXXXXXXX1',\n      slack_text: `🔧 *Для Марка (запчасти)*:\\n${segments.feras.join(' ')}`\n    }\n  });\n}\n\nif (results.length === 0) {\n  results.push({\n    json: {\n      slack_channel: 'C0XXXXXXXX1',\n      slack_text: `🎙 *Ответ Артёма*:\\n${userText}`\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "e00fbd7b-285f-4e89-84e9-c9d72414f126",
      "name": "Call Client (Second)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        240
      ]
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0XXXXXXXX2",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d07d6dbb-3f18-4031-b7a4-640be79cc4b4",
      "name": "Slack Test Channel Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        80
      ],
      "webhookId": "slack-test-to-odoo",
      "credentials": {
        "slackApi": {
          "id": "ZdkxJZG8G421yKO2",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Call Rinat or Leave Voicemail').first().json;\n\n// Берем данные из первого звонка\nconst originalMessage = prepared.original_message;\nconst rinatReply = prepared.reply_text; // Твой ответ из транскрипции\nconst person = prepared.person;\n\nconst summaryTitle = `Ответ Артёма для: ${person}`;\nconst summaryText = [\n  `Артём ответил на сообщение из Slack.`,\n  `-------------------`,\n  `ВОПРОС: ${originalMessage}`,\n  `-------------------`,\n  `ОТВЕТ РИНАТА: ${rinatReply}`,\n  `-------------------`,\n  `Статус: Ответ передан клиенту голосом.`\n].join('\\n');\n\nreturn [{\n  json: {\n    summary_title: summaryTitle,\n    summary_text: summaryText,\n    rinat_reply: rinatReply,\n    original_message: originalMessage,\n    person: person,\n    slack_channel: prepared.slack_channel\n  }\n}];"
      },
      "id": "1660e49e-70ac-4727-b699-5a6c99387e43",
      "name": "Prepare Odoo Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        240
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=ai.rinat.assistant",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $json.summary_title }}"
            },
            {
              "fieldName": "ai_summary",
              "fieldValue": "={{ $json.summary_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        96,
        240
      ],
      "id": "a589f747-d609-42a3-ba92-48ce5eff3b0c",
      "name": "Odoo Create Task",
      "credentials": {
        "odooApi": {
          "id": "f6XlLFbPA2Ev3nsH",
          "name": "Odoo account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const API_KEY = $env.VAPI_API_KEY;\nconst assistantId = $env.VAPI_ASSISTANT_ID;\nconst phoneNumberId = $env.VAPI_PHONE_NUMBER_ID;\nconst rinatNumber = $env.SECRETARY_TARGET_PHONE;\n\nconst slackData = $('Slack Test Channel Trigger').first().json || {};\nconst rawText =\n  slackData.text ||\n  slackData.event?.text ||\n  'Новое сообщение';\n\ntry {\n\n  // РЕАЛЬНЫЙ ЗВОНОК\n  const callResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.vapi.ai/call/phone',\n\n    headers: {\n      'Authorization': `Bearer ${API_KEY}`,\n      'Content-Type': 'application/json'\n    },\n\n    body: {\n      assistantId,\n      phoneNumberId,\n\n      customer: {\n        number: rinatNumber\n      },\n\n      assistantOverrides: {\n\n        // КЛЮЧЕВОЕ:\n        // ассистент ждет пока человек скажет хоть что-то\n        firstMessageMode: 'assistant-waits-for-user',\n\n        silenceTimeoutSeconds: 25,\n        maxDurationSeconds: 120,\n\n        firstMessage:\n          `Артём привет. В Слаке написали: ${rawText.slice(0, 250)}. Что ответить?`\n      }\n    },\n\n    json: true\n  });\n\n  // ЖДЕМ ОКОНЧАНИЯ ЗВОНКА\n  let status = null;\n\n  for (let i = 0; i < 24; i++) {\n\n    await new Promise(r => setTimeout(r, 5000));\n\n    status = await this.helpers.httpRequest({\n      method: 'GET',\n\n      url: `https://api.vapi.ai/call/${callResponse.id}`,\n\n      headers: {\n        'Authorization': `Bearer ${API_KEY}`\n      },\n\n      json: true\n    });\n\n    if (\n      status.status === 'ended' ||\n      status.status === 'failed'\n    ) {\n      break;\n    }\n  }\n\n  // ТРАНСКРИПТ\n  const transcript =\n    status?.transcript ||\n    status?.analysis?.transcript ||\n    status?.messages?.map(\n      m => `${m.role}: ${m.content}`\n    ).join('\\n') ||\n    '';\n\n  const endedReason =\n    status?.endedReason || '';\n\n  // НЕ ОТВЕТИЛ\n  const missedReasons = [\n    'customer-did-not-answer',\n    'no-answer',\n    'voicemail',\n    'busy',\n    'failed'\n  ];\n\n  const didNotAnswer =\n    missedReasons.includes(endedReason);\n\n  // БЫЛ ЛИ РЕАЛЬНЫЙ ОТВЕТ\n  const hasUserSpeech =\n    transcript.toLowerCase().includes('user:');\n\n  const isCallRejected =\n    didNotAnswer || !hasUserSpeech;\n\n  return [{\n    json: {\n      call_id: callResponse.id,\n\n      reply_text:\n        transcript || 'Нет ответа',\n\n      original_message: rawText,\n\n      is_call_rejected: isCallRejected,\n\n      ended_reason: endedReason,\n\n      slack_text: isCallRejected\n        ? '❌ Артём не ответил'\n        : '✅ Артём ответил'\n    }\n  }];\n\n} catch (error) {\n\n  return [{\n    json: {\n\n      is_call_rejected: true,\n\n      original_message: rawText,\n\n      reply_text: '',\n\n      slack_text:\n        `❌ Ошибка Vapi:\\n${error.message}`\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        80
      ],
      "id": "56ba526b-73f3-4733-83e9-3a21b50aeb26",
      "name": "Call Rinat or Leave Voicemail"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "=C0XXXXXXXX1",
          "mode": "id"
        },
        "text": "=Передаю ответ клиенту: {{ $node[\"Prepare Odoo Task\"].json[\"rinat_reply\"] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "5f8b4f3b-dac4-47f5-8116-d483ee2c2256",
      "name": "Send Call Status to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        336,
        240
      ],
      "webhookId": "confirm-odoo-task-created",
      "credentials": {
        "slackApi": {
          "id": "iJKHzfvHbWE6CChL",
          "name": "Slack Bot Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0dc219e-6399-4e26-8407-d333da6a51dc",
              "leftValue": "={{ $json.is_call_rejected }}",
              "rightValue": "rejected",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        80
      ],
      "id": "5ef98419-e1db-479c-863b-284835654f3a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Если звонок сброшен, то отправляем Артёму голосовое (либо в канал)",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -112
      ],
      "id": "3af8756d-933e-4bd3-a703-0a16a9cd13cf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const rawText = $('Call Rinat or Leave Voicemail').first().json.original_message || 'Сообщение';\n\nconst voiceText = `Артём, ты не взял трубку. Сообщение из Слака: ${rawText}`;\nconst encoded = encodeURIComponent(voiceText.slice(0, 200));\nconst audioUrl = `https://translate.google.com/translate_tts?ie=UTF-8&q=${encoded}&tl=ru&client=tw-ob`;\n\nreturn [{\n  json: {\n    slack_channel: 'C0XXXXXXXX1',\n    slack_text: `📵 *Артём не ответил — голосовое:*\\n${audioUrl}`\n  }\n}];"
      },
      "id": "080b2f42-13e1-46b0-8205-07956062545f",
      "name": "Send Voice Reply to Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0XXXXXXXX1",
          "mode": "id"
        },
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        80,
        -16
      ],
      "id": "aba03ad0-9999-4c03-903e-1b1ca1fb7b30",
      "name": "Send a message",
      "webhookId": "c58e9fab-7977-4337-b6cd-0850aa52f733",
      "credentials": {
        "slackApi": {
          "id": "iJKHzfvHbWE6CChL",
          "name": "Slack Bot Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const slackText = $input.item.json.slack_text;\nconst slackChannel = $input.item.json.slack_channel || 'C0XXXXXXXX1';\n\nconst lines = slackText.split('\\n');\nconst textToSpeak = lines.slice(1).join(' ').trim() || slackText;\n\nconst isAngelina = slackText.includes('Ангелин');\nconst isFeras = slackText.includes('Марк');\nconst recipientName = isAngelina ? 'Ангелины' : isFeras ? 'Марка' : 'команды';\nconst emoji = isAngelina ? '💰' : isFeras ? '🔧' : '🎙';\n\nconst now = new Date().toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit' });\n\nconst encoded = encodeURIComponent(textToSpeak.slice(0, 200));\nconst audioUrl = `https://translate.google.com/translate_tts?ie=UTF-8&q=${encoded}&tl=ru&client=tw-ob`;\n\nreturn {\n  json: {\n    slack_channel: slackChannel,\n    slack_text: `${emoji} *Голосовое для ${recipientName}* · 🎙 Артём · ${now}\\n${audioUrl}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        240
      ],
      "id": "f756fa9c-7b70-4b42-8572-165bbd330961",
      "name": "Code"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0XXXXXXXX1",
          "mode": "id"
        },
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        928,
        240
      ],
      "id": "6d8d935c-2350-46fa-bc50-ef941b7cda7f",
      "name": "Send a message1",
      "webhookId": "c58e9fab-7977-4337-b6cd-0850aa52f733",
      "credentials": {
        "slackApi": {
          "id": "iJKHzfvHbWE6CChL",
          "name": "Slack Bot Account"
        }
      }
    }
  ],
  "connections": {
    "Call Client (Second)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Test Channel Trigger": {
      "main": [
        [
          {
            "node": "Call Rinat or Leave Voicemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Odoo Task": {
      "main": [
        [
          {
            "node": "Odoo Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Create Task": {
      "main": [
        [
          {
            "node": "Send Call Status to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Rinat or Leave Voicemail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Call Status to Slack": {
      "main": [
        [
          {
            "node": "Call Client (Second)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Voice Reply to Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Odoo Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Voice Reply to Client": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Slack Test Channel Trigger": [
      {
        "type": "message",
        "user": "U0AFERVDUJH",
        "ts": "1778795936.546639",
        "client_msg_id": "95e2ba35-35df-4b02-a5fb-a211c2ea34ee",
        "text": "Марк спрашивает когда будут запчасти. Анна спрашивает когда будет зарплата",
        "team": "T06H0Q4PTCK",
        "blocks": [
          {
            "type": "rich_text",
            "block_id": "8UARc",
            "elements": [
              {
                "type": "rich_text_section",
                "elements": [
                  {
                    "type": "text",
                    "text": "Марк спрашивает когда будут запчасти. Анна спрашивает когда будет зарплата"
                  }
                ]
              }
            ]
          }
        ],
        "channel": "C0XXXXXXXX2",
        "event_ts": "1778795936.546639",
        "channel_type": "group"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "540793eb9e2630cb229d135ba4dd4e345cff37523e0be2c62db30d0cd702d782"
  }
}